// 
// ==================================================/
body {
  @extend %system_normal--300;
}

.item-id {
  background-color: #ccc;
}

// carousel1-01
// ==================================================/
.carousel1-01 {
  height: 100px;

  button {
    background-color: #666;
    border: 1px solid #000;

    
  }

}

.carousel1-01_content {
  background-color: #ccc;
}

.carousel1-01_pagination {
  @extend %text--center;
}

.carousel1-01_pagebuttons {
  background-color: #ccc;
  color: #000;

  @extend %display--inline-block;
  @extend %padd--4;
  margin-right: 4px;
  cursor: pointer;
}

.carousel1-01_prevnext {
  @extend %text--center; 
}



// carousel1-02
// ==================================================/
@mixin carousel1_02_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
  background-color: #ccc;
}

.carousel1-02 {
  height: 100px; 
}

.carousel1-02_pagination {
  @extend %text--center;
}

.carousel1_02_pagebuttons {
  @extend %display--inline-block; 
  @include carousel1_02_pagebuttons();   
  border-radius: 50%;
  margin-right: 4px;   
  cursor: pointer; 
}

.carousel1_02_pagebuttons--active {
  background-color: #000;  
}

.carousel1-02_prevnext {
  @extend %text--center;
}

// carousel1-03
// ==================================================/
@mixin carousel1_03_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
  background-color: #ccc;
}

.carousel1-03 {
  height: 100px; 
}

.carousel1-03_pagination {
  @extend %text--center;
}

.carousel1_03_pagebuttons {
  @extend %display--inline-block;
  @include carousel1_03_pagebuttons();
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

.carousel1_03_pagebuttons--active {
  background-color: #000;
}

.carousel1-03_content {

}

.carousel1-03_description {
  @extend %display--block;
  background-color: #ccc;
}

.carousel1-03_prevnext {
  @extend %text--center;
}  

// carousel1-04
// ==================================================/
@mixin carousel1_04_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
  background-color: #ccc;
}

.carousel1-04 {
  height: 100px; 

  @extend %pos--relative;
  &:hover .carousel1-04_prevnext {
    visibility: visible;
  }
}

.carousel1_04_pagebuttons {
  @extend %display--inline-block;
  @include carousel1_04_pagebuttons();
  border-radius: 50%;  
  margin-right: 4px;
  cursor: pointer;
}

.carousel1_04_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_04_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1_04_pagebuttons--active {
  background-color: #000;
}

.carousel1-04_content {
  // height: 60px;
}

.carousel1-04_description {
  background-color: #ccc;
}

// controls
.carousel1-04_pagination {
  @extend %pos--absolute;
  @extend %text--center;
  width: 100%;
  bottom: 10%;  
  z-index: 3;
}

.carousel1-04_prevnext {
  @include center-both;
  visibility: hidden;
  // background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.carousel1_04_previous,
.carousel1_04_next {
  @extend %display--inline-block;
  @extend %pos--relative;
  padding: 10px;
  background-color: #000;
  color: #fff;
  height: 100%;
  cursor: pointer;
  
  svg {
    @include center-both;
  }
}

.carousel1_04_previous {

}

.carousel1_04_next {
  float: right;
}

// svg
.carousel1_04_chevron {
  width: 24px;
  height: 24px;
  fill: #fff;
}

// carousel1-05
// ==================================================/
.carousel1-05 {
  height: 100px;
}

.carousel1-05_content {
  
}

.carousel1_05_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_05_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1-05_prevnext {
  @extend %text--center;
}

.carousel1_05_previous,
.carousel1_05_next {
  @extend %display--inline-block;
  @extend %padd--4;
  background-color: #000;
  color: #fff;
}

.carousel1-05_pagination {
  @extend %display--inline-block;
  @extend %text--center;
}

.carousel1-05_pagebuttons {
  @extend %display--inline-block;
  @extend %padd--4;
  background-color: #ccc;
  margin-right: 4px;
}

.carousel1-05_pagebuttons--active {
  background-color: #000 !important;
  color: #fff;
}