// 
// ==================================================/
body {
  @extend %system_normal--300;
}

.item-id {
  background-color: #ccc;
}

// carousel1-01
// ==================================================/
@mixin carousel1-01_theme() {
  .carousel1-01 {
    background-color: #2a2a2d;
    color: #fff;

    button {
      background-color: #bab9b9;
      border: 1px solid #000;

      svg {
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
      }

      &:hover svg {
        fill: #be0101;
      }
    }
  }

  .carousel1-01_content {
    background-color: #1c1d22;
  }

  .carousel1-01_pagebuttons {
    color: #fff;
    background-color: #343437;
    border: 1px solid #5c5d60;

    &:hover {
      background-color: #fff;
      color: #be0101;
    }
  }

}
@include carousel1-01_theme();


.carousel1-01 {
  
  button {
    cursor: pointer;

    span {
      vertical-align: middle;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}

.carousel1_01_previous {
  padding: 4px 4px 4px 0; /* trbl */
}

.carousel1_01_next {
  padding: 4px 0 4px 4px; /* trbl */
} 

.carousel1-01_content {
  height: 50px;
}

.carousel1-01_pagination {
  @extend %text--center;
  padding: 6px 0 6px 0; /* trbl */
}

.carousel1-01_pagebuttons {
  @extend %display--inline-block;
  @extend %padd--4;
  margin-right: 4px;
  cursor: pointer;
}

.carousel1-01_prevnext {
  @extend %text--center; 
}



// carousel1-02
// ==================================================/
@mixin carousel1-02_theme() {
  .carousel1-02 {
    background-color: #2a2a2d;
    color: #fff;

    button {
      background-color: #bab9b9;
      border: 1px solid #000;

      svg {
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
      }

      &:hover svg {
        fill: #be0101;
      }
    }
  }

  .carousel1-02_content {
    background-color: #1c1d22;
  }

  .carousel1_02_pagebuttons {
    color: #fff;
    background-color: #343437;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: #be0101;
    }
  }

  .carousel1_02_pagebuttons--active {
    background-color: #be0101;
    border: 1px solid #000;
  }
}
@include carousel1-02_theme();


@mixin carousel1-02_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
}

.carousel1-02 {
  // height: 100px; 

  button {
    border: 1px solid #000; 
    cursor: pointer;

    span {
      vertical-align: middle;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}

.carousel1_02_previous {
  padding: 4px 4px 4px 0; /* trbl */
}

.carousel1_02_next {
  padding: 4px 0 4px 4px; /* trbl */
} 

.carousel1-02_pagination {
  @extend %text--center;
  padding: 6px 0 6px 0; /* trbl */  
}

.carousel1-02_content {
  height: 50px;
}

.carousel1_02_pagebuttons {
  @extend %display--inline-block; 
  @include carousel1-02_pagebuttons(); 
  border-radius: 50%;
  margin-right: 4px;   
  cursor: pointer; 
}

.carousel1_02_pagebuttons--active {
  
}

.carousel1-02_prevnext {
  @extend %text--center;
}

// carousel1-03
// ==================================================/
@mixin carousel1-03_theme() {
  .carousel1-03 {
    background-color: #2a2a2d;
    color: #fff;

    button {
      background-color: #bab9b9;
      border: 1px solid #000;

      svg {
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
      }

      &:hover svg {
        fill: #be0101;
      }
    }
  }

  .carousel1-03_content {
    background-color: #1c1d22;
  }

  .carousel1_03_pagebuttons {
    color: #fff;
    background-color: #343437;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: #be0101;
    }
  }

  .carousel1_03_pagebuttons--active {
    background-color: #be0101;
    border: 1px solid #000;
  }

  .carousel1-03_description {
    border-top: 1px dashed #343437;
  }
}
@include carousel1-03_theme();

@mixin carousel1_03_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
}

.carousel1-03 {
  // height: 100px; 

  button {
    border: 1px solid #000; 
    cursor: pointer;

    span {
      vertical-align: middle;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}

.carousel1_03_previous {
  padding: 4px 4px 4px 0; /* trbl */
}

.carousel1_03_next {
  padding: 4px 0 4px 4px; /* trbl */
} 

.carousel1-03_pagination {
  @extend %text--center;
  padding: 4px 0 4px 0; /* trbl */
}

.carousel1_03_pagebuttons {
  @extend %display--inline-block;
  @include carousel1_03_pagebuttons();
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

.carousel1_03_pagebuttons--active {
  
}

.carousel1-03_content {
  
}

.carousel1-03_description {
  @extend %display--block;
  height: 50px;
}

.carousel1-03_prevnext {
  @extend %text--center;
}  

// carousel1-04
// ==================================================/
@mixin carousel1-04_theme() { 
  .carousel1-04 {
    background-color: #2a2a2d;
    color: #fff;
  }  

  .carousel1_04_pagebuttons {
    color: #fff;
    background-color: #bab9b9;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
    }
  }

  .carousel1_04_pagebuttons--active {
    background-color: #be0101;
    border: 1px solid #000;
  }

  .carousel1-04_description {
    border-top: 1px dashed #343437;
  }

  .carousel1-04_content {
    background-color: #1c1d22;
  }

  .carousel1_04_previous,
  .carousel1_04_next {
    color: #fff;
    background-color: #343437;
    border: 1px solid #5c5d60;

    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #fff;
      border: none;
    }

    &:hover svg {
      fill: #be0101;
    }
  }
}
@include carousel1-04_theme();

@mixin carousel1_04_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
}

.carousel1-04 {
  // height: 100px; 

  @extend %pos--relative;
  &:hover .carousel1-04_prevnext {
    visibility: visible;
  }
}

.carousel1_04_pagebuttons {
  @extend %display--inline-block;
  @include carousel1_04_pagebuttons();
  border-radius: 50%;  
  margin-right: 4px;
  cursor: pointer;
}

.carousel1_04_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_04_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1_04_pagebuttons--active {
  
}

.carousel1-04_content {
  
}

.carousel1-04_description {
  height: 100px;
}

// controls
.carousel1-04_pagination {
  @extend %pos--absolute;
  @extend %text--center;
  width: 100%;
  bottom: 10%;  
  z-index: 3;
}

.carousel1-04_prevnext {
  @include center-both;
  visibility: hidden;
  // background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.carousel1_04_previous,
.carousel1_04_next {
  @extend %display--inline-block;
  @extend %pos--relative;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  
  svg {
    @include center-both;
  }
}

.carousel1_04_previous {

}

.carousel1_04_next {
  float: right;
}

// svg
.carousel1_04_chevron {
  width: 24px;
  height: 24px;
}

// carousel1-05
// ==================================================/
.carousel1-05 {
  // height: 100px;

  button {
    border: 1px solid #000; 
    cursor: pointer;
    background-color: #666;

    span {
      vertical-align: middle;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }
}

.carousel1_05_previous {
  padding: 0 4px 0 0; /* trbl */
}

.carousel1_05_next {
  padding: 0 0 0 4px; /* trbl */
} 

.carousel1-05_content {
  height: 50px;
  background-color: #000;
}

.carousel1_05_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_05_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1-05_prevnext {
  @extend %text--center;

}

.carousel1-05_pagination {
  @extend %display--inline-block;
  @extend %text--center;
}

.carousel1-05_pagebuttons {
  @extend %display--inline-block;
  @extend %padd--4;
  background-color: #ccc;
  margin-right: 4px;
}

.carousel1-05_pagebuttons--active {
  background-color: #000 !important;
  color: #fff;
}