// 
// ==================================================/
body {
  @extend %system_normal--300;
}

.item-id {
  background-color: #ccc;
}

// carousel1-01
// ==================================================/
$carousel1-01_height: 100px;

@mixin carousel1-01_pagebuttons() {
  background-color: #ccc;
  color: #000;
}

@mixin carousel1-01_prevnext() {
  // background-color: #000;
}

@mixin carousel1-01_content() {
  background-color: #666;
}

.carousel1-01 {
  height: $carousel1-01_height;
  
  .carousel1-01_content {
    @include carousel1_01_content();
  }

  .carousel1-01_pagination {
    @extend %text--center;
  }

  .carousel1-01_pagebuttons {
    @include carousel1-01_pagebuttons();
    @extend %display--inline-block;
    @extend %padd--4;
    margin-right: 4px;
    cursor: pointer;
  }

  .carousel1-01_prevnext {
    @extend %text--center; 
    @include carousel1-01_prevnext();
  }
}

// carousel1-02
// ==================================================/
.carousel1_02_pagebuttons {
  @extend %display--inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background-color: #ccc;
}

.carousel1_02_pagebuttons--active {
  background-color: #000;
}

// carousel1-03
// ==================================================/
.carousel1_03_pagebuttons {
  @extend %display--inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background-color: #ccc;
}

.carousel1_03_pagebuttons--active {
  background-color: #000;
}

.carousel1-03_content {
  height: 60px;
}

.carousel1-03_description {
  @extend %display--block;
  background-color: #ccc;
}

// carousel1-04
// ==================================================/
$carousel1-04_height: 100px;

@mixin carousel1_04_pagebuttons() {
  $size: 12px;
  width: $size;
  height: $size;
  background-color: #ccc;
}

@mixin carousel1_04_prevnextbuttons() {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

@mixin carousel1_04_pagebuttons--active() {
  background-color: #000;
}

.carousel1-04 {
  height: $carousel1-04_height;
  position: relative;

  &:hover .carousel1-04_prevnext {
    visibility: visible;
  }
}

.carousel1_04_pagebuttons {
  @extend %display--inline-block;
  @include carousel1_04_pagebuttons();
  border-radius: 50%;  
  margin-right: 4px;
  cursor: pointer;
}

.carousel1_04_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_04_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1_04_pagebuttons--active {
  @include carousel1_04_pagebuttons--active();
}

.carousel1-04_content {
  // height: 60px;
}

.carousel1-04_description {
  background-color: #ccc;
}

// controls
.carousel1-04_pagination {
  @extend %pos--absolute;
  @extend %text--center;
  width: 100%;
  bottom: 10%;  
  z-index: 3;
}

.carousel1-04_prevnext {
  @include center-both;
  visibility: hidden;
  // background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.carousel1_04_previous,
.carousel1_04_next {
  @extend %display--inline-block;
  @extend %pos--relative;
  @include carousel1_04_prevnextbuttons();  
  height: 100%;
  
  p {
    @include center-both;
  }
}

.carousel1_04_previous {

}

.carousel1_04_next {
  float: right;
}

// carousel1-05
// ==================================================/
.carousel1-05_content {
  height: 60px;
}

.carousel1_05_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_05_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1-05_description {
  @extend %display--block;
  background-color: #ccc;
}

.carousel1-05_pagebuttons--active {
  background-color: #000 !important;
  color: #fff;
}

.carousel1-05_pagebuttons {
  background-color: #ccc;
  margin-right: 4px;
}

// carousel1-06
// ==================================================/
.carousel1-06_content {
  height: 60px;
}

.carousel1_06_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in;
}

.carousel1_06_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.carousel1-06_description {
  @extend %display--block;
  background-color: #ccc;
}

.carousel1-06_pagebuttons--active {
  background-color: #000 !important;
  color: #fff;
}

.carousel1-06_pagebuttons {
  background-color: #ccc;
  margin-right: 4px;
}

